Faker==11.3.0
fastapi==0.78.0
fastapi_admin==1.0.3
fastapi_camelcase==1.0.5
loguru==0.5.3
pydantic==1.8.2
pytest==6.2.5
python-dotenv==0.20.0
slowapi==0.1.5
SQLAlchemy==1.3.23
starlette==0.19.1
uvicorn==0.14.0
