.create {
    display: flex;
    flex-direction: column;
}

.create__header {
    margin-left: 1em;
    margin-top: 1em;
    font-size: 1.9rem;
    color: #023047;
    font-weight: 680;
}

.create__form {
    display: flex;
    flex-direction: column;
}

.create__form {
    box-sizing: border-box;
    width: 100%;
    max-width: 480px;
    margin: auto;
    padding: 1rem;

    display: grid;
    grid-gap: 30px;
}

.create__submit {
    /* width: 50px; */
    border: none;
    font-size: 0.9rem;
    padding: 14px;
    border-radius: 20px;
    color: #61dafb;
    transition: all 0.15s ease;
    background-color: #023047;
    font-weight: 600 !important;
}

.create__submit:hover {
    cursor: pointer;
    color: #69ddfd;
    background-color: #011925;
    box-shadow: 14px 14px 30px #b4efff;
}

.create__submit:disabled {
    pointer-events: none;
    color: #61dafbcd;
    background-color: #023047ab;
    box-shadow: none !important;
}
